:root {
    --primary-color: #3F8CFF;
    --secondary-color: #F4F9FD;
    --white-color: #fff;
    --black-color: #000;
    --bg-color: #F3F8FC;
    --light-grey-color: #E6EDF5;
    --dark-grey-color: #7D8592;
    --grey-color: #91929E;
    --alarm-color: #FF0000;
    --mint-color: #E0F9F2;
}